/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Anda bisa menghapus semua CSS bawaan CRA di bawah ini, atau biarkan saja */
.App {
  text-align: center;
}
/* ... lainnya */